/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* KOGU LEHT METSAROHELINE */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f3d2b;   /* metsaroheline */
  color: white;
  line-height: 1.6;
}

/* HEADER */
header {
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 80px;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* NAV */
nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #d4af37; /* kuldne hover */
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 20px;
}

/* KULDNE NUPP */
.btn {
  background: #d4af37;
  color: black;
  padding: 16px 40px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background: #b9972e;
}

/* SISU BLOKID */
.content {
  padding: 80px 8%;
}

.content h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.boxes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background: #254c36;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transition: 0.3s;
}

.box:hover {
  background: #2e5e43;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #163021;
  margin-top: 60px;
}
